.ipynb_checkpoints
*/.ipynb_checkpoints/*

TakeHomeDataChallenges-master
Collection_Data_Science_TakeHome_Challenges.pdf

FunnelAnalysis/None
FunnelAnalysis/.ipynb_checkpoints
FunnelAnalysis/tree.dot

IdentifyingFraudAnalysis/Fraud_Data.csv
IdentifyingFraudAnalysis/IpAddress_to_Country.csv

SongChallenge/song.json

SpanishTranslation/user_table.csv
SpanishTranslation/test_table.csv

PricingTest/test_results.csv
PricingTest/user_table.csv
PricingTest/tree.dot
