
TakeHomeDataChallenges-master
Collection_Data_Science_TakeHome_Challenges.pdf

FunnelAnalysis/None
FunnelAnalysis/tree.dot

IdentifyingFraudAnalysis/Fraud_Data.csv
IdentifyingFraudAnalysis/IpAddress_to_Country.csv

SongChallenge/song.json

SpanishTranslation/user_table.csv
SpanishTranslation/test_table.csv

